@font-face {
  font-family: "Galiver";
  src: url("../../assets/fonts/GaliverSansObliquesBold-8DoM.ttf");
}
body {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  background-color: #ffbb37;
}
#game {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%) translateZ(0);
  background-color: #ffbb37;
}

#giris {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

img {
  animation: opacity 2s ease-out forwards;
  opacity: 0;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#start {
  width: 200px;
  flex: 1 1 auto;
  padding: 20px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  font-family: "Galiver";
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding-left: 0px;
  color: #f7f7f7;
}
#start div {
  background-color: #111;
  padding: 15px;
  margin-left: 15px;
  border-radius: 5px;
  width: 35%;
  text-align: right;
  transition: width 2s cubic-bezier(0.23, 1, 0.32, 1);
  animation: opacity 2s ease-out forwards;
}
#start div:hover {
  width: 90%;
}
